#root {
    width: 3000px;
    height: 3000px;
}

.card {
    clip-path: polygon(50% 2%, 98% 50%, 50% 98%, 2% 50%);
    position: absolute;
    box-shadow: none;
    color: rgba(0, 0, 0, 0);
    z-index: 1;
    background-size: cover !important;
    background-position: center !important;
    transition:
        box-shadow 0.5s,
        color 0.5s,
        width 1.5s,
        height 1.5s,
        top 1.5s,
        left 1.5s
    ;
}

.card p {
    text-align: center;
    padding-top: 50%;
}

.overlay {
    position: absolute;
    background: black;
    opacity: 0.7;
    z-index: 9;
  }