<!DOCTYPE html>
<html lang="en">
<head>
    <title>mapMarketPlace</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap-grid.min.css">

</head>
<body>
    <div class="row">
        <div class="col-2 sidebar">
            {% include "sidebar.html" %}
        </div>
        <div class="col-10 content-main">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>