{% extends "base.html" %}

{% block content %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {{cards|json_script:"js-cards"}}
    {{is_auth|json_script:"js-auth"}}

    <div id="root"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="module" src="{% static 'js/base.js' %}"></script>
    <script type="module" src="{% static 'js/main.js' %}"></script>
{% endblock %}
