{% load static %}

<link rel="stylesheet" href="{% static 'css/slidebar.css' %}">

<div class="row sidebar-top">
    <div class="col">
        <ul>
            <h2>Map Maker</h2><h2>Place</h2>
            <a href="{% url 'main' %}"><li>Home</li></a>
            {% if user.is_authenticated %}
                <a href="{% url 'buildboards' %}"><li>Buildboards</li></a>
                <a href="{% url 'templates' %}"><li>Templates</li></a>
            {% endif %}
            <hr>
            <a href="https://vk.com/nikitapermikov"><li><i class="fa fa-vk"></i></li></a>
            <a href="https://t.me/nikit34"><li><i class="fa fa-telegram"></i></li></a>
            <a href="https://www.facebook.com/nikitapermikov/"><li><i class="fa fa-instagram"></i></li></a>
            <hr>
        </ul>
    </div>
</div>
<div class="row sidebar-middle">
    <div class="col">
        <ul>
            {% if user.is_authenticated %}
                <a>{{ user.get_username }}</a>
                <a href="{% url 'logout' %}"><li>Logout</li></a>
            {% else %}
                <a href="{% url 'login' %}"><li>Login</li></a>
                <a href="{% url 'register' %}"><li>Register</li></a>
            {% endif %}
        </ul>
    </div>
</div>
<div class="row sidebar-bottom">
    <div class="col">
        {% if user.is_staff %}
            <hr />
            <p>You muight</p>
            <p>publisher market</p>
        {% endif %}
        <hr />
        <p><a href="https://github.com/nikit34">GitHub</a></p>
        <p><a href="https://nikit34.github.io">Developer</a></p>
    </div>
</div>