body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin:0;
    padding: 0;
    background-color: rgb(5, 5, 50);
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    max-width: 200px;
    padding: 25px 5px 25px 5px;
    margin: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.9);
}

.sidebar .sidebar-top ul {
    list-style-position: outside;
    padding: 0;
    margin: 50px 0 50px 0;
    text-align: center;
}

.sidebar .sidebar-top ul a {
    text-decoration: none;
    font-size: x-large;
}

.sidebar .sidebar-top ul a li {
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin:5px 0 5px 0;
    color: rgb(5, 5, 50);
    transition: all 0.5s;
}

.sidebar .sidebar-top ul a:hover li {
    background-color: rgba(5, 5, 50, 0.9);
    color: white;
}

.sidebar .sidebar-middle ul {
    list-style-position: outside;
    padding: 0;
    margin: 50px 0 50px 0;
    text-align: center;
}

.sidebar .sidebar-middle ul a {
    text-decoration: none;
    font-size: larger;
}

.sidebar .sidebar-middle ul a li {
    border-radius: 5px;
    padding: 5px 25px 5px 25px;
    margin: 2.5px 0 2.5px 0;
    color: rgb(5, 5, 50);
    transition: all 0.5s;
}

.sidebar .sidebar-middle ul a:hover li {
    background-color: white;
    color: rgb(5, 5, 50);
}

.sidebar .sidebar-bottom {
    position: fixed;
    padding: 5px 45px 5px 45px;
    text-align: center;
    margin: 0;
    bottom: 0;
}

.sidebar .sidebar-bottom a{
    color: rgba(5, 5, 50, 0.5);
    text-decoration: none;
    transition: all 0.5s;
}

.sidebar .sidebar-bottom a:hover{
    color: black;
}

.content-main {
    top: 2vh;
    bottom: 2vh;
    left: 220px;
    right: 0vw;
}