body {
    font-family: 'Raleway', sans-serif;
    overflow: scroll;
}

form p {
    display: inline-block;
    min-width:30vw;
    padding: 1vh 1vw 1vh 1vw;
    background-color: rgba(100, 100, 50, 0.1);
    border-radius: 5px;
}

form p label{
    float: left;
    clear: right;
    font-size: larger;
    margin-right: 2vw;
}

form p input{
    float: right;
    background-color: rgba(100, 100, 50, 0.25);
}

form button{
    min-width: 5vw;
    min-height: 3vh;
    float: right;
    margin: 2vh;
    border: 1px solid gray;
    color: white;
    background-color: rgba(100, 100, 50, 0.9);
    border-radius: 2px !important;
    padding: 5px 10px 5px 10px;
    transition: all 1s;
}
form button:hover{
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.9);
}

th {
    border-radius: 5px;
    border: solid 1px whitesmoke;
    background-color: rgba(100, 100, 50, 0.3);
    transition: all 1s;
    padding: 0.5em 1em 0.5em 1em;
}

th a {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: rgb(100, 100, 50);
    transition: all 1s;
}

thead th:hover {
    background-color: rgba(100, 100, 50, 0.9);
    border: solid 1px black;
}

thead th:hover a {
    color: whitesmoke;
}

thead a:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 5px;
	background-color: white;
	content: "";
	transition: width 0.3s ease-out;
}

a:hover:after,
a:focus:after {
	width: 100%;
}

tbody tr td {
    padding: 1vh 1vw;
}

tbody tr:hover td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: whitesmoke;
}

.pagination {
    white-space: nowrap;
    text-align: center;
}

.pagination li{
    display: inline-block;
    height: 100%;
}

.pagination li a{
    text-decoration: none;
    color:rgb(100, 100, 50);
    font-size: larger;
    transition: all 1s;
    padding: 1vh 2vw 1vh 2vw;
    border-radius: 5px;
}

.pagination li:hover a{
    color:white;
    background-color: rgb(100, 100, 50);
}