#root {
    width: 3000px;
    height: 3000px;
}

.card {
    clip-path: polygon(50% 2%, 98% 50%, 50% 98%, 2% 50%);
    position: absolute;
    box-shadow: none;
    color: rgba(0, 0, 0, 0);
    z-index: 1;
    background-size: cover !important;
    background-position: center !important;
    transition:
        box-shadow 0.5s,
        color 0.5s,
        width 1.5s,
        height 1.5s,
        top 1.5s,
        left 1.5s
    ;
}

.card.animate {
    animation-duration: 1.5s;
    animation-name: clicked-card;
}

@keyframes clicked-card {
    to {
        transform: rotate3d(1, 1, 1, 6.28rad);
    }
}

.card p {
    display: inline-block;
    min-width: 300px;
}

.card p label{
    float: left;
    clear: right;
}

.card p input{
    float: right;
}

.card button{
    margin-left: 250px;
}

.card div {
    text-align: center;
    margin: 50% 40% 40% 40%;
    min-height: 5vh;
    padding: 1.25vh 1vw 1vh 1vw;
    font-size: large;
    border-radius: 2vh;
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(5, 5, 50);
    transition: all 0.5s;
}

.card div:hover{
    background-color: rgba(5, 5, 50, 0.9);
    color: white;
}

#overlay {
    position: absolute;
    background: black;
    top: -20px;
    left: -20px;
    opacity: 0.7;
    z-index: 9;
  }