body {
    background-color: rgb(100, 100, 50);
}

#root {
    width: 3000px;
    height: 3000px;
}

.card {
    clip-path: polygon(50% 2%, 98% 50%, 50% 98%, 2% 50%);
    position: absolute;
    box-shadow: none;
    z-index: 1;
    background-size: cover !important;
    background-position: center !important;
    transition:
        box-shadow 0.5s,
        color 0.5s,
        width 1.5s,
        height 1.5s,
        top 1.5s,
        left 1.5s
    ;
}

.card.animate {
    animation-duration: 1.5s;
    animation-name: clicked-card;
}

@keyframes clicked-card {
    to {
        transform: rotate3d(1, 1, 1, 6.28rad);
    }
}

.card h3 {
    text-align: center;
    color:white;
    pointer-events: none;
}

.card p {
    display: inline-block;
    min-width: 300px;
}

.card:hover {
    color:white !important;
}

.card p label{
    float: left;
    clear: right;
    font-size: larger;
    color:white;
}

.card p input{
    float: right;
    background-color: rgba(100, 100, 50, 0.25);
}

.card input:focus{
    color:rgb(0, 255, 0);
    background-color: #ffffff00 !important;
    outline: none;
}

.card input:-webkit-autofill,
.card input:-webkit-autofill:hover,
.card input:-webkit-autofill:focus,
.card textarea:-webkit-autofill,
.card textarea:-webkit-autofill:hover,
.card textarea:-webkit-autofill:focus,
.card select:-webkit-autofill,
.card select:-webkit-autofill:hover,
.card select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: rgb(0, 255, 0);
  -webkit-box-shadow: 0 0 0px 1000px rgba(100, 100, 50, 0.25) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.card input[type="text" i]{
    padding: 0 !important;
}

.card label[for="id_image"] {
    border: 1px solid gray;
    color: white;
    background-color: rgba(100, 100, 50, 0.9);
    border-radius: 5px !important;
    padding: 5px 10px 5px 10px;
    font-size: small !important;
    float: right !important;
    transition: all 1s;
}
.card input[id="id_image"][type=file] {
    opacity: 0;
}
.card label[for="id_image"]:hover {
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.9);
}

.card button{
    float: right !important;
    border: 1px solid gray;
    color: white;
    background-color: rgba(100, 100, 50, 0.9);
    border-radius: 2px !important;
    padding: 5px 10px 5px 10px;
    transition: all 1s;
}
.card button:hover{
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.9);
}

p.curtain {
    font-size: small;
    pointer-events: none;
    margin: 50% 25%;
}

p.ads_title {
    font-size: small;
    pointer-events: none;
    margin: 40% 20%;
    min-width: 5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

p.ads_description {
    font-size: x-large;
    pointer-events: none;
    text-align: center;
    margin: 40% 30%;
    color:white;
    overflow: hidden;
    text-overflow: ellipsis;
}

#overlay {
    position: absolute;
    background: black;
    top: -20px;
    left: -20px;
    opacity: 0.7;
    z-index: 9;
}