body {
    font-family: 'Raleway', sans-serif;
    overflow-y: scroll;
}

.template-root {
    display: inline-block;
    min-width: 80vw;
    margin: 1vh 0 0 5vw;
}

.template-right {
    float: right;
    padding: 2vh 2vw;
    width: 35vw;
    border: solid 2px whitesmoke;
    border-radius: 5px;
    transition: background-color 1s;
}

.template-right:hover {
    background-color: whitesmoke;
}

.template-left {
    float: left;
    padding: 2vh 2vw;
    width: 35vw;
    border: solid 2px whitesmoke;
    border-radius: 5px;
    transition: background-color 1s;
}

.template-left:hover {
    background-color: whitesmoke;
}

.template-root img {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    object-fit: cover;
}

.template-description {
    padding: 1vh 0 1vh 0;
}